// .inventory__title {
//     text-align: center;
//     margin: 20px 0;
//     text-transform: uppercase;
//     font-size: 1.3rem;
// }

.category {
    // width: $card-width-small;
    // height: $card-height-small;
    // box-shadow: $mild-shadow;
    // margin: 10px;
    // background: white;
    // border-radius: 5px;
    // overflow: hidden;
    // border: 1px solid black;
    transition: background 0.2s ease-in;
    place-self: center;

    &:hover {
        background: #d10d0db3;
    }

    &__card {
        width: 100%;
        height: 100%;
        display: flex;
        z-index: 10;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: relative;
    }

    &__count {
        position: absolute;
        top: -30px;
        left: -15px;
        font-size: 12rem;
        line-height: 100%;
        font-weight: bold;
        color: $light-gray;
        z-index: -1;
    }

    &__name {
        font-size: 1.3rem;
        text-align: center;
    }

    &__action {
        background: $red;
        padding: 3px 10px;
        color: white;
        border-radius: 5px;
    }
}
