// Body
$body-bg: #f8fafc;

// Typography
$font: "Century Gothic";

// Colors
$light-gray: #efefef;
$dark-gray: #c6c6c6;
$order-text: #5e4745;
$red: #d10d0d;
$simple-text: #544644;
$light-text: #dadada;

$search-bar-size: 35px;
$icon-small: 25px;
$icon-big: 35px;
$icon-container-small: 25px;

// * mobile sizes, may change in media queries
$header-font-size: 1.2rem;
$title-font-size: 1.3rem;
