@import "variables";
// @import "~bootstrap/scss/bootstrap";
input {
    width: 100%;
    display: block;
}

.pd-10 {
    padding: 0 10px;
}

.container {
    max-width: 1280px;
}

nav {
    background-color: $light-gray;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;

    .header__logo {
        img {
            height: 100px;
        }
    }

    .header__search {
        position: relative;
        // todo: use media queries to make search responsive
        width: 50vw;
        max-width: 700px;

        input {
            border: 2px solid $red;
            height: $search-bar-size;
            padding: 0 10px;
            border-radius: 5px;
            font-family: $font;
        }

        input:focus ~ button {
            display: none;
        }

        button {
            background: transparent;
            position: absolute;
            height: $search-bar-size;
            padding: 10px;
            top: 0;
            right: 0px;
            display: flex;
            justify-content: center;
            align-items: center;

            span > svg {
                // color: $red;
                fill: $red;
                width: 20px;
                height: 20px;
            }
        }
    }

    .header__user {
        div {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background: $dark-gray;
            display: flex;
            justify-content: center;
            align-items: center;
            // font-size: 20px;

            p {
                font-size: 1.5rem;
                font-weight: bold;
                color: $simple-text;
                transform: translateY(-2px);
            }
        }
    }

    .result {
        position: absolute;
        top: 100%;
        left: 0;
        background: white;
        max-height: 300px;
        width: 100%;
        overflow-y: scroll;

        .result__item {
            padding: 5px 10px;
            font-size: 0.8rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $red;

            div {
                display: flex;
                flex-direction: column;
            }
        }

        .result__name {
            font-weight: bold;
        }
    }
}
