$icon-size: 40px;
$add-container-size: 65px;

.back-button {
    a {
        display: flex;
        align-items: center;
        padding: 10px 20px 0 20px;
        max-width: 1280px;
        margin: auto;
    }

    p {
        margin-left: 5px;
        color: $red;
    }

    span > svg {
        fill: $red;
        height: $icon-small * 0.8;
    }
}

.product {
    height: 190px !important;
    // width: 150px !important;
    overflow: visible !important;
    position: relative;
    place-self: center;

    &__card {
        width: 100%;
        overflow: hidden;
        border-radius: inherit;
    }

    &__image {
        width: 100%;
        height: 80px;
        background: gray;
        overflow: hidden;
    }

    &__image > img {
        object-fit: scale-down;
        object-position: center;
    }

    &__name {
        padding: 0 10px;
        margin-top: 10px;

        p {
            font-size: 0.85rem;
        }
    }

    &__price {
        padding: 0 10px;
        color: $red;
        // margin: 10px 0;
        margin-bottom: 5px;
    }

    &__sold {
        padding: 0 10px;
        color: $dark-gray;
        text-align: right;
        font-size: 0.9rem;
    }

    &:hover > .product__button {
        opacity: 1;
    }
}

.product__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #efefefe6;
    border-radius: inherit;

    h4 {
        text-transform: uppercase;
        color: white;
        font-size: 1.5rem;
        transform: rotate(45deg);
    }
}

.product__button {
    position: absolute;
    width: $icon-size;
    height: $icon-size;
    z-index: 1;
    border-radius: 50%;
    box-shadow: $mild-shadow;
    top: -15px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.edit-button {
    left: -15px;
    background: #4885d8;

    span > svg {
        fill: white;
        height: $icon-size * 0.5;
    }
}

.delete-button {
    right: -15px;
    background: #d10d0d;

    span > svg {
        fill: white;
        height: $icon-size * 0.5;
    }
}

// ADD MENU STYLES
.add__container {
    $add-button-size: 55px;
    position: fixed;
    bottom: 0;
    left: 50%;
    max-width: 1280px;
    width: 100vw;
    height: $add-container-size;
    transform: translateX(-50%);
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    padding-bottom: 10px;
    z-index: 100;
    // background: blue;

    .add__button {
        position: relative;
        height: $add-button-size;
        width: $add-button-size;
        border-radius: 50%;
        background: $red;
        box-shadow: $mild-shadow;

        span {
            transition: transform 0.2s ease;
        }

        span > svg {
            fill: white;
            height: $add-button-size * 0.8;
        }
    }

    .add__dropdown {
        position: absolute;
        bottom: $add-container-size;
        right: 10px;
    }

    .add__item {
        padding: 10px;
        font-weight: bold;
        color: white;
        background: $red;
        box-shadow: $mild-shadow;
        border-radius: 5px;
        margin: 10px 0;
    }
}

.add--rotate {
    transform: rotate(45deg) scale(0.8);
}

.clickable {
    cursor: pointer;
}
