$input-size: 50px;
$radio-size: 1.5rem;

.product-form {
    max-width: 500px;
    margin: auto;
    padding: 0 20px;

    input {
        border: 2px solid $red;
        border-radius: 5px;
        height: $input-size;
        padding: 2px 8px;
        font-size: 1rem;

        &::placeholder {
            margin: 0 2px;
            color: hsl(0, 0, 50%);
            font-size: 1rem;
        }
    }

    textarea {
        border: 2px solid $red;
        border-radius: 5px;
        height: $input-size + 10px;
        width: 100%;
        padding: 2px 8px;
        font-size: 1rem;
        // font: $font;

        &::placeholder {
            margin: 5px 2px;
            color: hsl(0, 0, 50%);
            font-size: 1rem;
        }
    }

    .form__label {
        font-weight: bold;
    }

    .form__radio {
        display: flex;
        justify-content: space-around;
        margin: 10px 0;
    }

    .form__section {
        margin: 15px 0;
    }

    .form__submit {
        margin: 20px 0;
        border-radius: 5px;
        background: $red;
        height: $input-size;
        width: 40%;
        color: white;
        font-weight: bold;
        font-size: 1rem;
    }
}

.radio {
    font-size: $radio-size;
    color: $red;
    display: grid;
    grid-template-columns: min-content auto;
    gap: 0.5rem;
    place-items: center;
}

.radio__label {
    color: black !important;
    font-size: 1rem !important;
    line-height: 1;
    transform: translateY(-0.05rem);
}

.radio__input {
    display: flex;

    input {
        opacity: 0;
        width: 0;
        height: 0;
        font-size: 1rem;

        & + .radio__control::before {
            content: "";
            width: $radio-size * 0.6;
            height: $radio-size * 0.6;
            box-shadow: inset 0.5em 0.5em currentColor;
            border-radius: 50%;
            transition: 180ms transform ease-in-out;
            transform: scale(0);
        }

        &:checked + .radio__control::before {
            transform: scale(1);
        }

        &:focus + .radio__control {
            box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em currentColor;
        }
    }

    .radio__control {
        display: grid;
        place-items: center;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        border: 0.1em solid currentColor;
    }
}
