* {
  margin: 0;
}

input {
  width: 100%;
  display: block;
}

svg {
  height: 100%;
  fill: inherit;
}

.pd-10 {
  padding: 0 10px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .header__main {
  background-color: #efefef;
  height: 80px;
}

.header .header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  padding: 0 10px;
  margin: auto;
}

.header .header__logo img {
  height: 80px;
  width: 80px;
}

.header .header__link div {
  display: flex;
  align-items: flex-end;
}

.header .header__link p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #d10d0d;
  margin-right: 5px;
}

.header .header__link span {
  height: 25px;
  fill: #d10d0d;
}

.header .header__secondary {
  background: #c6c6c6;
  height: 80px;
}

.header .header__search {
  position: relative;
  max-width: 600px;
  width: 50vw;
  min-width: 260px;
}

.header .header__search input {
  border: 2px solid #d10d0d;
  height: 35px;
  padding: 0 10px;
  border-radius: 5px;
  font-family: "Century Gothic";
}

.header .header__search input:focus ~ button {
  display: none;
}

.header .header__search button {
  background: transparent;
  position: absolute;
  height: 35px;
  padding: 10px;
  top: 0;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .header__search button span > svg {
  fill: #d10d0d;
  width: 20px;
  height: 20px;
}

.header .result {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  max-height: 300px;
  width: 100%;
  overflow-y: scroll;
}

.header .result .result__item {
  padding: 5px 10px;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d10d0d;
}

.header .result .result__item div {
  display: flex;
  flex-direction: column;
}

.header .result .result__name {
  font-weight: bold;
}

