.header__main {
  background-color: #efefef;
  height: 80px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  padding: 0 10px;
  margin: auto;
}

.header__logo img {
  height: 80px;
  width: 80px;
}

.header__link div {
  display: flex;
  align-items: flex-end;
}

.header__link p {
  font-size: 1.2rem;
  font-weight: bold;
  color: #d10d0d;
  margin-right: 5px;
}

.header__link span {
  height: 25px;
  fill: #d10d0d;
}

.header__secondary {
  background: #c6c6c6;
  height: 80px;
}

.header__search {
  position: relative;
  max-width: 600px;
  width: 50vw;
  min-width: 260px;
}

.header__search input {
  border: 2px solid #d10d0d;
  height: 35px;
  padding: 0 10px;
  border-radius: 5px;
  font-family: "Century Gothic";
}

.header__search input:focus ~ button {
  display: none;
}

.header__search button {
  background: transparent;
  position: absolute;
  height: 35px;
  padding: 10px;
  top: 0;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__search button span > svg {
  fill: #d10d0d;
  width: 20px;
  height: 20px;
}

.header .result {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  max-height: 300px;
  width: 100%;
  overflow-y: scroll;
}

.header .result .result__item {
  padding: 5px 10px;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d10d0d;
}

.header .result .result__item div {
  display: flex;
  flex-direction: column;
}

.header .result .result__name {
  font-weight: bold;
}

.category {
  transition: background 0.2s ease-in;
  place-self: center;
}

.category:hover {
  background: #d10d0db3;
}

.category__card {
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 10;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.category__count {
  position: absolute;
  top: -30px;
  left: -15px;
  font-size: 12rem;
  line-height: 100%;
  font-weight: bold;
  color: #efefef;
  z-index: -1;
}

.category__name {
  font-size: 1.3rem;
  text-align: center;
}

.category__action {
  background: #d10d0d;
  padding: 3px 10px;
  color: white;
  border-radius: 5px;
}

.back-button {
  display: flex;
  align-items: center;
  padding: 10px 20px 0 20px;
  max-width: 1280px;
  margin: auto;
}

.back-button p {
  margin-left: 5px;
  color: #d10d0d;
}

.back-button span > svg {
  fill: #d10d0d;
  height: 20px;
}

.product {
  height: 190px !important;
  width: 150px !important;
  overflow: visible !important;
  position: relative;
}

.product__card {
  width: 100%;
  overflow: hidden;
  border-radius: inherit;
}

.product__image {
  width: 100%;
  height: 80px;
  background: gray;
}

.product__name {
  padding: 0 10px;
  margin-top: 10px;
}

.product__name p {
  font-size: 0.85rem;
}

.product__price {
  padding: 0 10px;
  color: #d10d0d;
  margin: 10px 0;
}

.product:hover > .product__button {
  opacity: 1;
}

.product__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #efefefe6;
  border-radius: inherit;
}

.product__overlay h4 {
  text-transform: uppercase;
  color: white;
  font-size: 1.5rem;
  transform: rotate(45deg);
}

.product__button {
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: 1;
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
  top: -15px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.edit-button {
  left: -15px;
  background: #4885d8;
}

.edit-button span > svg {
  fill: white;
  height: 20px;
}

.delete-button {
  right: -15px;
  background: #d10d0d;
}

.delete-button span > svg {
  fill: white;
  height: 20px;
}

.add__container {
  position: fixed;
  bottom: 0;
  left: 50%;
  max-width: 1280px;
  width: 100vw;
  height: 65px;
  transform: translateX(-50%);
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  padding-bottom: 10px;
}

.add__container .add__button {
  position: relative;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background: #d10d0d;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
}

.add__container .add__button span {
  transition: transform 0.2s ease;
}

.add__container .add__button span > svg {
  fill: white;
  height: 44px;
}

.add__container .add__dropdown {
  position: absolute;
  bottom: 65px;
  right: 10px;
}

.add__container .add__item {
  padding: 10px;
  font-weight: bold;
  color: white;
  background: #d10d0d;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  margin: 10px 0;
}

.add--rotate {
  transform: rotate(45deg) scale(0.8);
}

.clickable {
  cursor: pointer;
}

* {
  margin: 0;
}

input {
  width: 100%;
  display: block;
}

svg {
  height: 100%;
  fill: inherit;
}

.pd-10 {
  padding: 0 10px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.max-view {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding: 0 10px;
}

.section-title {
  text-align: center;
  margin: 20px 0;
  text-transform: uppercase;
  font-size: 1.3rem;
}

.card {
  width: 140px;
  height: 150px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
  margin: 10px;
  background: white;
  border-radius: 5px;
  overflow: hidden;
}

